<%9.times.each do %>
  <div class="col-md-4 card" style="perspective: 200px; position: relative;">
    <div class="front" style="height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out 0s; transform: rotateY(0deg);">
      <div class="cel-img ">
        <img alt="Alcatel Idol 3" src="https://tienda.antel.com.uy/razuna/assets/1/B529ADBCA00746D6A18666BBDF3A6F2D/img/F03B9678CD13448599718E5E03158EFB/alcatel-idol3-1_F03B9678CD13448599718E5E03158EFB.jpg">
      </div>
      <div class="name-cel">Alcatel Idol 3</div>
      <div class="name-cel2">Con plan Vera LTE $890 sin límite </div>
    </div>
    <div class="back" style="transform: rotateY(-180deg); height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out 0s;">
      <div class="datahover">
        <div class="hov-tit">Alcatel Idol 3</div>
        <div class="hov-tit2">Con plan Vera LTE $890 sin límite </div>
        <div class="hov-desc">
          <p>El IDOL 3 es el primer Smartphone reversible. Diseño simétrico, con una pantalla de 4,7´´y su súper alta definicón hace que cada película sea una experiencia cinematográfica.&nbsp;
          </p>
        </div>
        <div class="precio">
          <div class="bgPrecio"> $15.467</div>
          <span class="titDesde"></span>
          <span>
            <strong>Incluido</strong>
          </span>
        </div>
        <div class="items">
          <span class="icon-carro"></span>
            Lo quiero
          <ul class="pull-left">
            <li>
              <a title="Más detalles" href="#">Más detalles</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end -%>