<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Sony Smart TV - 2015</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <div class="product-content-right">
          <div class="row">
            <div class="col-sm-4">
              <img id="img_01" src="small/image1.jpg" data-zoom-image="large/image1.jpg"/>
              <div id="gal1">
                <a href="#" data-image="small/image1.jpg" data-zoom-image="large/image1.jpg">
                  <img id="img_01" src="thumb/image1.jpg" />
                </a>
                <a href="#" data-image="small/image2.jpg" data-zoom-image="large/image2.jpg">
                  <img id="img_01" src="thumb/image2.jpg" />
                </a>
                <a href="#" data-image="small/image3.jpg" data-zoom-image="large/image3.jpg">
                  <img id="img_01" src="thumb/image3.jpg" />
                </a>
                <a href="#" data-image="small/image4.jpg" data-zoom-image="large/image4.jpg">
                  <img id="img_01" src="thumb/image4.jpg" />
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="product-inner">
                <h2 class="product-name">Sony Smart TV - 2015</h2>
                <div class="product-inner-price">
                  <ins>$700.00</ins> <del>$100.00</del>
                </div>
                <form action="" class="cart">
                  <div class="quantity">
                    <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                  </div>
                  <button class="add_to_cart_button" type="submit">Agregar al carrito</button>
                </form>
              </div>
            </div>
            <div class="col-sm-4">
              <div role="tabpanel">
                <ul class="product-tab" role="tablist">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Descripciòn</a></li>
                  <li role="presentation"><a href="#" aria-controls="profile" role="tab" data-toggle="tab">Rating</a></li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique, diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut. Suspendisse potenti. Nulla varius lectus id turpis dignissim porta. Quisque magna arcu, blandit quis felis vehicula, feugiat gravida diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. In varius lorem lorem, semper bibendum lectus lobortis ac.</p>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="profile">
                    <h2>Reviews</h2>
                    <div class="submit-review">
                      <p><label for="name">Name</label> <input name="name" type="text"></p>
                      <p><label for="email">Email</label> <input name="email" type="email"></p>
                      <div class="rating-chooser">
                        <p>Your rating</p>
                        <div class="rating-wrap-post">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                      </div>
                      <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                      <p><input type="submit" value="Submit"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="caract p-v">
                <h2>Características:</h2>
                <div class="caract-inn">
                  <table cellspacing="0" class="caract-table" summary="">
                    <tbody>
                      <tr>
                        <th>General</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>Red</th>
                                <td>GSM 850/900/1800/1900</td>
                              </tr>
                              <tr>
                                <th>3G</th>
                                <td>850/900/1900/2100</td>
                              </tr>
                              <tr>
                                <th>LTE</th>
                                <td>2600/2100/1900/1800/1700/850/700</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par">
                        <th>Dimensiones</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>Medidas / peso</th>
                                <td>138.1 x 67 x 6.9 mm / 129 g</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par">
                        <th>Display</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>Pantalla táctil</th>
                                <td>Si (Capacitiva)</td>
                              </tr>
                              <tr>
                                <th>Resolución</th>
                                <td>750 x 1334 píxeles</td>
                              </tr>
                              <tr>
                                <th>Tamaño</th>
                                <td>4.7 pulgadas</td>
                              </tr>
                              <tr>
                                <th>Colores</th>
                                <td>16 M colores</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par">
                        <th>Cámara</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>Resolución</th>
                                <td>8 Mpx</td>
                              </tr>
                              <tr>
                                <th>Video</th>
                                <td>Si</td>
                              </tr>
                              <tr>
                                <th>Flash</th>
                                <td>dual LED flash</td>
                              </tr>
                              <tr>
                                <th>Videoconferencia</th>
                                <td>Si</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par" >
                        <th>Memoria</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>Interna *</th>
                                <td>64 GB</td>
                              </tr>
                              <tr>
                                <th>Externa</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <th>Expandible hasta</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <td colspan="2">(*) El sistema operativo&nbsp; y demás aplicaciones utilizan parte de esta memoria</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par">
                        <th>Agenda</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>Cantidad contactos</th>
                                <td>Practicamente ilimitados</td>
                              </tr>
                              <tr>
                                <th>Registro llamadas</th>
                                <td>Practicamente ilimitado</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par">
                        <th>Datos</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>WiFi</th>
                                <td>Si</td>
                              </tr>
                              <tr>
                                <th>Bluetooth</th>
                                <td>4.0</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par">
                        <th>Audio</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>MP3</th>
                                <td>Si</td>
                              </tr>
                              <tr>
                                <th>Radio</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <th>Puerto Jack</th>
                                <td>Si</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr class="par">
                        <th>Otros</th>
                        <td>
                          <table cellspacing="0">
                            <tbody>
                              <tr>
                                <th>Teclado QWERTY</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <th>Sistema operativo</th>
                                <td>iOS 8</td>
                              </tr>
                              <tr>
                                <th>A-GPS</th>
                                <td>Si</td>
                              </tr>
                              <tr>
                                <th>TV</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <th>Doble Chip</th>
                                <td>No</td>
                              </tr>
                              <tr>
                                <th>Otras características</th>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="related-products-wrapper">
          <h2 class="related-products-title">Productos relacionados</h2>
          <div class="product-carousel">
            <% 6.times do %>
              <div class="single-product">
                <div class="product-f-image">
                  <img src="/assets/product-3.jpg" alt="">
                  <div class="product-hover">
                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Agregar </a>
                    <a href="/celulares/1" class="view-details-link"><i class="fa fa-link"></i> Ver detalles</a>
                  </div>
                </div>
                <h2>LG Leon 2015</h2>
                <div class="product-carousel-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>