<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Contratos</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 colTit hidden-xs visible-xss">
        <h1>Contratos Móbiles</h1>
      </div>
    </div>
    <div clas="row rowContracts">

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-conlimite.png">
            </div>
            <h3>Vera LTE con límite</h3>
            <p>
              Hablá, mensajeá y navegá a alta velocidad, descargá archivos, mirá videos HD en tiempo real, jugá en línea sin interrupciones y mucho más.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Vera LTE con límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>vera LTE $630 con límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      3 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $750 con límite</h1>
                <div class="listdata" data-status="0" >
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      5 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      7 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  750 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $890 con límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      7 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      7 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  890 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $990 con límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      10 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      7 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  990 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-sinlimite.png">
            </div>
            <h3>Vera LTE sin límite</h3>
            <p>
              Hablá, mensajeá y navegá a alta velocidad, descargá archivos, mirá videos HD en tiempo real, jugá en línea sin interrupciones y mucho más.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Vera LTE sin límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>vera LTE $630 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      3 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $750 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      5 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      7 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  750 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $890 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      7 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      7 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  890 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $990 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      10 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      7 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  990   </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $1450 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      15 GB para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      20/2 megas velocidad
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      11 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  1450 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-conlimite.png">
            </div>
            <h3>3G con límite</h3>
            <p>
              Comunicate a un precio más conveniente y tené el control de lo que pagás por mes.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>3G con límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>3G Básico con límite</h1>
                <div>
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      Hasta 140 minutos
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      3G para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-sinlimite.png">
            </div>
            <h3>3G sin límite</h3>
            <p>
              Hablá, mensajeá y navegá recargando a un precio más conveniente.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>3G sin límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>3G Básico sin límite</h1>
                <div>
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      Hasta 490 minutos
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      3G para navegar
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-gsm.png">
            </div>
            <h3>Prepago GSM</h3>
            <p>
              Hablá, mensajeá y navegá recargando el saldo que más te convenga.
            </p>
            <div class="cost mens">
              <p>
                Sin costo mensual
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Prepago GSM</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>Prepago GSM Outlet</h1>
                <div>
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      3 destinos gratis
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 amigos para hablar a
                     $0,99 el minuto</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-3g.png">
            </div>
            <h3>Prepago 3G</h3>
            <p>
              Hablá, mensajeá y navegá recargando el saldo que más te convenga.
            </p>
            <div class="cost mens">
              <p>
                Sin costo mensual
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Prepago 3G</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>Kit prepago 3G</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      3 destinos gratis
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 amigos a $0,99 el mi
                    nuto</li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 destinos GRATIS
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>Prepago 3G Outlet</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      3 destinos gratis
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      5 amigos para hablar a
                     $0,99 el minuto</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-lte.png">
            </div>
            <h3>Prepago LTE</h3>
            <p>
              Hablá, mensajeá y navegá recargando el saldo que más te convenga.
            </p>
            <div class="cost mens">
              <p>
                 Sin costo mensual
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Prepago LTE</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>Kit prepago vera LTE</h1>
                <div>
                  <ul>
                    <li>
                      <i class="fa fa-check"></i>
                      Navegá a 20/2 megas
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      3 destinos gratis
                    </li>
                    <li>
                      <i class="fa fa-check"></i>
                      y más!
                    </li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/contratos/1">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                         <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>














<!-- ContratooooOOOOOOOO -->


        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <ul class="lista">
                  <li>
                    <i class=" chk-ico fa fa-check fa-2x"></i>
                    <h3>Equipo a precio promocional</h3>
                    <p>Lleváte un equipo de regalo para que puedas navegar a la mayor velocidad.</p>
                  </li>
                  <li>
                    <i class=" chk-ico fa fa-check fa-2x"></i>
                    <h3>7 destinos gratis</h3>
                    <p>Mantenete siempre en contacto con los que mas querés.</p>
                  </li>
                  <li>
                    <i class=" chk-ico fa fa-check fa-2x"></i>
                    <h3>5 GB para navegar a 20/2 mb de velocidad</h3>
                    <p>Navegá hasta 10 veces más rápido que en 3G. Descargá archivos, mirá videos HD, jugá en línea, subí tus fotos y mucho más sin interrupciones.</p>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="data">
                  <div class="col1">
                    <div>
                      <p>$
                        <span>  630
                        </span>
                      </p>
                      <p><small>mensuales</small></p>
                    </div>
                  </div>
                  <a class="col2" href="#">
                    <span class="icon-catalogo"></span>
                    <p>ver equipos <small>compatibles con el plan</small></p>
                     <i class="fa fa-down fa-2x"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="plan-descripcion">
              <h3>Descripción</h3>
              <div class="ulLista">
                <p>
                  Además, es un plan con límite de crédito por lo que podrás tener el control de lo que pagás por mes.<br>
                  Contratando este plan accedés a los siguientes beneficios:
                </p>
                <ul>

                  <li>
                    <i class="fa fa-check"></i>
                    5 GB para navegar a una velocidad de 20Mbps / 2Mbps.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    Rinde hasta 177 minutos para hablar a destinos fijos y móviles de Antel.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    7 destinos gratis (1.000 minutos a 1 fijo, 3.000 minutos a 3 móviles de Antel y 1.000 SMS a 3 móviles de Antel).
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    5 amigos para hablar a $0,99 el minuto.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    Llevate un equipo a precio promocional.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    Tarifica cada 20 segundos.
                  </li>
                </ul>
                <p>
                  Podrás consultar tu saldo, enviando un SMS sin costo al 226 con el texto SALDO.<br>
                  Una vez consumido los datos incluidos podrás recargar enviando un SMS al 226 con el texto de la acreditación que querés destinar.<br>
                  Por ejemplo:
                </p>
                <ul>
                  <li>
                    <i class="fa fa-check"></i>
                    512MB Enviá "100" al 226 · 30 días de vigencia
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    1GB Enviá "200" al 226 · 60 días de vigencia
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    1,5GB Enviá "300" al 226 · 90 días de vigencia
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    2,5GB Enviá "500" al 226 · 90 días de vigencia
                  </li>
                </ul>
                <p><b>Condiciones comerciales </b></p>
                <p>
                  Contrato a 2 años. Las velocidades de conexión están sujetas a los recursos disponibles y cobertura de la red LTE de Antel.<br>
                  <a target="_blank" href="http://www.antel.com.uy/antel/personas-y-hogares/novedades/cobertura-lte">Conozca la cobertura LTE de Antel</a>. Luego de traficados los GB incluidos en el plan, la velocidad de bajada será de hasta 1 Mbps.
                </p>
                <p>Todos los valores incluyen IVA.</p>
              </div>
            </div>
          </div>
        </div>