<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Contratos</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 colTit hidden-xs visible-xss">
        <h1>Contratos Móbiles</h1>
      </div>
    </div>
    <div clas="row rowContracts">

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-conlimite.png">
            </div>
            <h3>Vera LTE con límite</h3>
            <p>
              Hablá, mensajeá y navegá a alta velocidad, descargá archivos, mirá videos HD en tiempo real, jugá en línea sin interrupciones y mucho más.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Vera LTE con límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>vera LTE $630 con límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>3 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>5 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $750 con límite</h1>
                <div class="listdata" data-status="0" >
                  <ul>
                    <li>5 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>7 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  750 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $890 con límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>7 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>7 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  890 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $990 con límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>10 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>7 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  990 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-sinlimite.png">
            </div>
            <h3>Vera LTE sin límite</h3>
            <p>
              Hablá, mensajeá y navegá a alta velocidad, descargá archivos, mirá videos HD en tiempo real, jugá en línea sin interrupciones y mucho más.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Vera LTE sin límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>vera LTE $630 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>3 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>5 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $750 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>5 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>7 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  750 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $890 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>7 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>7 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  890 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $990 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>10 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>7 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  990   </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>vera LTE $1450 sin límite</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>15 GB para navegar</li>
                    <li>20/2 megas velocidad</li>
                    <li>11 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  1450 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-conlimite.png">
            </div>
            <h3>3G con límite</h3>
            <p>
              Comunicate a un precio más conveniente y tené el control de lo que pagás por mes.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>3G con límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>3G Básico con límite</h1>
                <div>
                  <ul>
                    <li>Hasta 140 minutos</li>
                    <li>3G para navegar</li>
                    <li>5 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-sinlimite.png">
            </div>
            <h3>3G sin límite</h3>
            <p>
              Hablá, mensajeá y navegá recargando a un precio más conveniente.
            </p>
            <div class="cost mens">
              <p>
                Desde <span class="clear visible-sm visible-xss"></span> <strong>
                <small>$</small>
                630
                </strong> <span> mensuales </span>
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>3G sin límite</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>3G Básico sin límite</h1>
                <div>
                  <ul>
                    <li>Hasta 490 minutos</li>
                    <li>3G para navegar</li>
                    <li>5 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p>
                            A solo <strong><small>$</small>  630 </strong>
                          </p>
                          <span>mensuales</span>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-gsm.png">
            </div>
            <h3>Prepago GSM</h3>
            <p>
              Hablá, mensajeá y navegá recargando el saldo que más te convenga.
            </p>
            <div class="cost mens">
              <p>
                Sin costo mensual
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Prepago GSM</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>Prepago GSM Outlet</h1>
                <div>
                  <ul>
                    <li>3 destinos gratis</li>
                    <li>5 amigos para hablar a $0,99 el minuto</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-3g.png">
            </div>
            <h3>Prepago 3G</h3>
            <p>
              Hablá, mensajeá y navegá recargando el saldo que más te convenga.
            </p>
            <div class="cost mens">
              <p>
                Sin costo mensual
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Prepago 3G</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>Kit prepago 3G</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>3 destinos gratis</li>
                    <li>5 amigos a $0,99 el minuto</li>
                    <li>5 destinos GRATIS</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <h1>Prepago 3G Outlet</h1>
                <div class="listdata" data-status="0">
                  <ul>
                    <li>3 destinos gratis </li>
                    <li>5 amigos para hablar a $0,99 el minuto</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                          <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
        <div class="contract">
          <div class="frente front">
            <div class="cont-img">
              <img class="img-plan" alt="" src="assets/movil-planes-lte.png">
            </div>
            <h3>Prepago LTE</h3>
            <p>
              Hablá, mensajeá y navegá recargando el saldo que más te convenga.
            </p>
            <div class="cost mens">
              <p>
                 Sin costo mensual
              </p>
            </div>
            <span class="icon-arrow-up-2"></span>
            <div class="clear"></div>
          </div>
          <div class="atras back">
            <div class="contInfo">
              <h3>Prepago LTE</h3>
              <h4>Elegí tu plan</h4>
              <div class="plan-accordion">
                <h1>Kit prepago vera LTE</h1>
                <div>
                  <ul>
                    <li>Navegá a 20/2 megas</li>
                    <li>3 destinos gratis</li>
                    <li>y más!</li>
                  </ul>
                  <div class="cost2">
                    <div class="oMenu">
                      <a title="Más detalles" href="/plan/mdm:prdoff:id:59">
                        <span class="ctabtn pull-right">
                          Más detalles
                        </span>
                      </a>
                      <div class="info pull-right">
                        <div>
                         <p style="margin-top:10px">
                            Sin costo mensual
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

