<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Contratos</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="plan-details">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="plan-title">
        <h1 class="pull-left">
          <i class="fa fa-mobile"></i>
          vera LTE $630 con límite
        </h1>
        <div class="subplanes">
          <a class="pull-right iconLink" onclick="" title="" href="#">
            <p>
              subir de plan
              <i class="fa fa-chevron-right"></i>
            </p>
          </a>
          <a class="pull-right iconLink ft inactivo" onclick="" href="#">
            <p>
              <i class="fa fa-chevron-left"></i> bajar de plan
            </p>
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <ul class="lista">
                  <li>
                    <i class=" chk-ico fa fa-check fa-2x"></i>
                    <h3>Equipo a precio promocional</h3>
                    <p>Lleváte un equipo de regalo para que puedas navegar a la mayor velocidad.</p>
                  </li>
                  <li>
                    <i class=" chk-ico fa fa-check fa-2x"></i>
                    <h3>7 destinos gratis</h3>
                    <p>Mantenete siempre en contacto con los que mas querés.</p>
                  </li>
                  <li>
                    <i class=" chk-ico fa fa-check fa-2x"></i>
                    <h3>5 GB para navegar a 20/2 mb de velocidad</h3>
                    <p>Navegá hasta 10 veces más rápido que en 3G. Descargá archivos, mirá videos HD, jugá en línea, subí tus fotos y mucho más sin interrupciones.</p>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="data">
                  <div class="col1">
                    <div>
                      <p>$
                        <span>  750
                        </span>
                      </p>
                      <p><small>mensuales</small></p>
                    </div>
                  </div>
                  <a class="col2" href="#">
                    <span class="icon-catalogo"></span>
                    <p>ver equipos <small>compatibles con el plan</small></p>
                     <i class="fa fa-down fa-2x"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="plan-descripcion">
              <h3>Descripción</h3>
              <div class="ulLista">
                <p>
                  Además, es un plan con límite de crédito por lo que podrás tener el control de lo que pagás por mes.<br>
                  Contratando este plan accedés a los siguientes beneficios:
                </p>
                <ul>

                  <li>
                    <i class="fa fa-check"></i>
                    5 GB para navegar a una velocidad de 20Mbps / 2Mbps.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    Rinde hasta 177 minutos para hablar a destinos fijos y móviles de Antel.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    7 destinos gratis (1.000 minutos a 1 fijo, 3.000 minutos a 3 móviles de Antel y 1.000 SMS a 3 móviles de Antel).
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    5 amigos para hablar a $0,99 el minuto.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    Llevate un equipo a precio promocional.
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    Tarifica cada 20 segundos.
                  </li>
                </ul>
                <p>
                  Podrás consultar tu saldo, enviando un SMS sin costo al 226 con el texto SALDO.<br>
                  Una vez consumido los datos incluidos podrás recargar enviando un SMS al 226 con el texto de la acreditación que querés destinar.<br>
                  Por ejemplo:
                </p>
                <ul>
                  <li>
                    <i class="fa fa-check"></i>
                    512MB Enviá "100" al 226 · 30 días de vigencia
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    1GB Enviá "200" al 226 · 60 días de vigencia
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    1,5GB Enviá "300" al 226 · 90 días de vigencia
                  </li>
                  <li>
                    <i class="fa fa-check"></i>
                    2,5GB Enviá "500" al 226 · 90 días de vigencia
                  </li>
                </ul>
                <p><b>Condiciones comerciales </b></p>
                <p>
                  Contrato a 2 años. Las velocidades de conexión están sujetas a los recursos disponibles y cobertura de la red LTE de Antel.<br>
                  <a target="_blank" href="http://www.antel.com.uy/antel/personas-y-hogares/novedades/cobertura-lte">Conozca la cobertura LTE de Antel</a>. Luego de traficados los GB incluidos en el plan, la velocidad de bajada será de hasta 1 Mbps.
                </p>
                <p>Todos los valores incluyen IVA.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container catalog-cel-cont">
  <div class="hd">
    <h2 class="pull-left">
      Seleccioná el equipo para tu <strong>vera LTE $630 con límite</strong>
    </h2>
    <a class="pull-right" href="#">
      Ir al catálogo de equipos
      <span class="iconset icon-arrow-right"></span>
    </a>
  </div>


</div>