<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Contratos</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="partial_plan">
  <%= render partial: "plan" %>
</div>