<style type="text/css">
h1 {
  color:#303967;
}
</style>
<div style="width:47%;margin-left: 325px;text-align: center;">
  <h1>Sitio en construcción</h1>
  <img style="width: 100%" src="/assets/logo.png">
</div>


