<div class="page-container page-container-responsive">
  <div class="row row-space-top-8 row-space-8 row-table">
    <div class="col-5 col-middle">
      <h1 class="text-jumbo text-ginormous" style="font-size: 145px; margin-bottom:15px">Oops!</h1>
      <h2>No se pudo encontrar la p&aacute;gina que est&aacute; buscando.</h2>
      <h6 class="code-err">Error code: 404</h6>
      <ul class="list-unstyled">
        <li>Aqu&iacute; est&aacute;n algunos enlaces &uacute;tiles en su lugar:</li>
        <li><a href="/">Inicio</a></li>
        <li><a href="/celulares">Celulares</a></li>
        <li><a href="/accesorios">Accesorios</a></li>
        <li><a href="/contratos">Contratos</a></li>
        <li><a href="/ofertas">Ofertas</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="col-5 col-middle text-center">
      <%= image_tag "404.jpg" %>
    </div>
  </div>
</div>
