#accordion {
  list-style: none;
  padding: 0 0 0 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#accordion ul {
  list-style: none;
  padding-bottom: 12px;
  padding-left: 0;
  padding-top: 12px;
}

#accordion ul{
  display: none;
}

#accordion li{
  cursor:pointer;
}

#accordion ul li {
  font-weight: normal;
  cursor: auto;
  background-color: #fff;
  padding: 0 7px;
}

#accordion a {
  text-decoration: none;
}

#accordion a:hover {
  text-decoration: underline;
}


.cust-row {
  position:relative;
}