/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(/assets/RobotoCondensed-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url(/assets/RobotoCondensed-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url(/assets/RobotoCondensed-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url(/assets/RobotoCondensed-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(/assets/RobotoCondensed-Regular.ttf) format("truetype");
}

.cities-cont{
  margin-top:50px;
}

.local-list{
  float: left;
  list-style: outside none none;
  padding: 0;
  text-align: center;
  width: 28%;
  /*border-right: 1px solid #ccc;*/
  height: 149px;
  font-family: RobotoCondensed-Regular;
}

.local-list1{
  margin-left:130px;
}

.local-list .city {
  color: #303967;
  font-weight: 600;
  font-family: RobotoCondensed-Bold;
}

.local-list i {
  color:#fecc00;
}

.brand-list {
  list-style-type: none;
}
.brand-list label {
  font-size: 21px;
  font-weight: lighter;
  margin-bottom: 5px;
  margin-top: 5px;
}
.link-cel-name {
  color: #303967!important;
}

.container-cel {
  width: 50%;
}

.col-md-cust {
  float: left;
  min-height: 1px;
  position: relative;
  width: 48%;
}

.icheckbox_flat-blue, .iradio_flat-blue {
  margin: -5px 0 0!important;
}

.filter-tit {
  font-weight: 700;
  margin-top: 18px;
}

.col-md-cust-2 {
  float: left;
  min-height: 1px;
  position: relative;
  width: 33%;
}

.filters li{
  margin-bottom: 24px;
}

.caract {
  clear: both;
  margin-bottom: 32px;
}

.caract-inn {
  padding: 0 8px 10px;
}

.caract-table {
  border-top: 2px solid #d4d4d4;
  width: 100%;
}

.caract-table th {
  color: #303967;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 5px;
  vertical-align: top;
  width: 180px;
}

caption, th {
  text-align: left;
}

.caract-table td {
  font-size: 12px;
  padding: 5px;
  vertical-align: top;
}

.caract-table td table {
    width: 100%;
}

.caract-table td th {
  border-top: 1px dotted #b2b2b2;
  color: #000;
  font-size: 12px;
  padding: 3px 5px;
  width: 141px;
}

.caract-table td tr:first-child th, .caract-table td tr:first-child td {
  border: medium none;
}
.caract-table td td {
  border-top: 1px dotted #b2b2b2;
  padding: 3px 5px;
}
.caract-table td {
  font-size: 12px;
  padding: 5px;
  vertical-align: top;
}

.par {
  border-top: 2px solid #d4d4d4;
}
.slider-selection {
  background: green none repeat scroll 0 0;
}

.celbox{
  margin-bottom: 37px;
  margin-left: 27px;
}

.ofertbox {
  font-family: "RobotoCondensed-Regular";
}

.ofertbox .img {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  float: left;
  height: 274px;
  margin-right: 15px;
  position: relative;
  width: 246px;
  overflow: hidden;
}

.ofertbox .ofconte {
  border-bottom: 1px dotted #303967;
  float: left;
  height: 274px;
  padding: 12px 0;
  position: relative;
  width: 700px;
}

.ofertbox h2 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  padding-top: 0;
}

.ofertbox h2 a{
  color: #303967;
}

.ofertbox h2 a:hover{
  color: #fecc00;
}

.ofertbox .price {
  bottom: 13px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  position: absolute;
  right: 0;
}

.ofertbox .price .oldPrice {
  clear: both;
  color: #777;
  display: block;
  float: right;
  font-size: 13px;
  margin-right: 50px;
}

.ofertbox .price .oldPrice strong {
  color: #777;
  font-size: 13px;
  text-decoration: line-through;
  line-height: 20px;
}

.ofertbox .price .currentPrice {
  clear: both;
  display: block;
  float: right;
}

.ofertbox .price strong {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.ofertbox .precio strong, .ofertbox .price strong {
  color: #303967;
  font-size: 14px;
  padding-left: 4px;
}

span.precio small, span.price small {
  color: #9e9e9e;
  font-size: 10px;
}

.ofertbox .description strong {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.ofertbox .description p {
  margin-bottom: 10px;
}
.ofertbox p {
  font-size: 15px;
  padding: 0 80px 0 0;
  margin-top: 10px;
}

.description{
  margin-top:13px;
}

.container-footer {
  font-family: "RobotoCondensed-Regular";
}

.container-footer h2{
  font-family: "RobotoCondensed-Bold";
}