/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none!important;
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: font-url(RobotoCondensed-Bold) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: font-url(RobotoCondensed-BoldItalic) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-Italic";
  src: font-url(RobotoCondensed-Italic) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: font-url(RobotoCondensed-LightItalic) format("truetype");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: font-url(RobotoCondensed-Regular) format("truetype");
}

.cities-cont{
  margin-top:50px;
}

.local-list{
  float: left;
  list-style: outside none none;
  margin: 0 0 10px;
  font-family: RobotoCondensed-Regular;
}

.local-list1{
  margin-left:45px;
}

.local-list .city {
  color: #303967;
  font-weight: 600;
  font-family: RobotoCondensed-Bold;
  margin-left: 17px;
  //text-align: center;
}

.local-list i {
  color:#fecc00;
}

.brand-list {
  list-style-type: none;
}
.brand-list label {
  font-size: 21px;
  font-weight: lighter;
  margin-bottom: 5px;
  margin-top: 5px;
}
.link-cel-name {
  color: #303967!important;
}

.container-cel {
  width: 50%;
}

.col-md-cust {
  float: left;
  min-height: 1px;
  position: relative;
  width: 48%;
}

.icheckbox_flat-blue, .iradio_flat-blue {
  margin: -5px 0 0!important;
}

.filter-tit {
  font-weight: 700;
  margin-top: 18px;
}

.col-md-cust-2 {
  float: left;
  min-height: 1px;
  position: relative;
  width: 33%;
}

.filters li{
  margin-bottom: 24px;
}

.caract {
  clear: both;
  margin-bottom: 32px;
}

.caract-inn {
  padding: 0 8px 10px;
}

.caract-table {
  border-top: 2px solid #d4d4d4;
  width: 100%;
}

.caract-table th {
  color: #303967;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 5px;
  vertical-align: top;
  width: 180px;
}

caption, th {
  text-align: left;
}

.caract-table td {
  font-size: 12px;
  padding: 5px;
  vertical-align: top;
}

.caract-table td table {
    width: 100%;
}

.caract-table td th {
  border-top: 1px dotted #b2b2b2;
  color: #000;
  font-size: 12px;
  padding: 3px 5px;
  width: 141px;
}

.caract-table td tr:first-child th, .caract-table td tr:first-child td {
  border: medium none;
}
.caract-table td td {
  border-top: 1px dotted #b2b2b2;
  padding: 3px 5px;
}
.caract-table td {
  font-size: 12px;
  padding: 5px;
  vertical-align: top;
}

.phone-comp-table tr {
  border-top: 2px solid #303967;
  line-height: 23px;
}

.slider-selection {
  background: #fecc00 none repeat scroll 0 0;
}

.celbox{
  margin-bottom: 14px;
  margin-left: 27px;
  margin-right: 27px;
  border-bottom: 1px dotted #303967;
}

.ofertbox {
  font-family: "RobotoCondensed-Regular";
  width:90%;
}

.ofertbox .img {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  float: left;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
}

.ofertbox .ofconte {
  float: left;
  padding: 12px 0;
  position: relative;
}

.ofconte h4 {
  font-weight: bold;
}

.ofconte h4 a{
  color: #303967;
}

.ofconte h4 a:hover{
  color: #fecc00;
}

.ofertbox .price {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.ofertbox .price strong {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.ofertbox .precio strong, .ofertbox .price strong {
  color: #303967;
  font-size: 14px;
  padding-left: 4px;
}

span.precio small, span.price small {
  color: #9e9e9e;
  font-size: 10px;
}

.ofertbox .description strong {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.ofertbox .description p {
  margin-bottom: 10px;
}
.ofertbox p {
  font-size: 15px;
  padding: 0 80px 0 0;
  margin-top: 10px;
}

.description{
  margin-top:13px;
}

.show-details{
  float:right;
}

.countdown {
  float: left;
}

.countdown.lite .cont-num {
  margin: 0 5px 0 0;
  width: 42px;
  float: left;
  text-align: center;
}

.countdown.lite .cont-num .num {
  background-color: #303967;
  border-radius: 10px;
  color: #fff;
  font-family: "RobotoCondensed-Regular";
  font-size: 32px;
}

.countdown .cont-num span {
  color: #303967;
  font-family: "RobotoCondensed-Regular";
  font-size: 15px;
}

.off-pho-des a {
  color: #303967;
  font-weight: bold
}

.off-pho-des a:hover {
  color: #fecc00;
  font-weight: bold
}

#count-shw-of {
  margin-top: 20px;
}

#count-shw-of {
  margin-left: 26%;
  margin-top: 10%;
}

#count-shw-of .cont-num {
  float: left;
  margin: 0 8px 0 0;
  text-align: center;
  width: 64px;
}

#count-shw-of .cont-num .num {
  background-color: #303967;
  border-radius: 9px;
  color: #fff;
  font-family: "RobotoCondensed-Regular";
  font-size: 47px;
}

#count-shw-of .cont-num span {
  color: #303967;
  font-family: "RobotoCondensed-Regular";
  font-size: 18px;
}

.container-footer {
  font-family: "RobotoCondensed-Regular";
}

.container-footer h2{
  font-family: "RobotoCondensed-Bold";
}

.row-images ul {
  list-style:none!important;
  color:red!important;
}

.price-acc {
  font-size: 25px;
  margin-right: 12px;
}

.payment-type {
  margin-top: 44px;
}

.comun-data i{
  color:#303967;
  float:left;
}

.payment-type img{
  margin-top: 7px;
}

.comun-data p{
  margin-left:54px;
}

.comun-data span{
  font-size: 24px;
  margin-left: 5px;
}

.row2 {
  margin-top:57px;
}

#gal1_zoom_01 img {
  border:1px solid #aaa;
  margin-bottom: 5px;
}
.active_zoom img {
  border: 2px solid #fecc00!important;
}

.zoomWrapper img {
  border: 1px solid #ccc;
}

.subplanes p:hover {
  text-decoration:underline;
}

.inac-left-link-arrow {
  border-right: 1px solid #ccc;
  margin-right: 15px;
  padding-right: 15px;
  display: inline;
  float: left;
  font-size: 18px;
  margin-bottom: 0;
  transition: all 0.4s ease-out 0s;
  cursor: not-allowed !important;
  color: #ccc!important;
  text-decoration:none!important;
}

.inac-left-link-arrow i {
  color: #ccc!important;
}

.inac-right-link-arrow {
  margin-right: 15px;
  padding-right: 15px;
  display: inline;
  float: left;
  font-size: 18px;
  margin-bottom: 0;
  transition: all 0.4s ease-out 0s;
  cursor: not-allowed !important;
  color: #ccc!important;
  text-decoration:none!important;
}

.inac-right-link-arrow i{
  color: #ccc!important;
}

.pagination {
  margin: 11px!important;
}

.pagination > li > a, .pagination > li > span {
    color: #303967!important;
}

.offers-tit {
  margin-top:11px!important;
}

.error {
  color:#a94442;
}

.btn-send-email:hover {
  background: #fecc00 none repeat scroll 0 0!important;
  color: #303967!important;
  border-color: #303967!important;
  border: 1px solid #303967;
}

.btn-send-email {
  border: 1px solid #303967!important;
  text-shadow: none!important;
  box-shadow:none!important;
  font-weight:none!important;
  border-radius: 8px!important;
}

.btn {
  font-family: RobotoCondensed-Regular!important;
}

.form-control-email{
  background-color: #fff;
  background-image: none;
  border: 1px solid #303967;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-control-email:focus {
  border-color:#303967;
  box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)!important;
}

.contact-form input{
  font-family: RobotoCondensed-Regular!important;
  transition: none !important;
  width:100%!important;
}

.contact-form input:focus{
  border: 1px solid #303967!important;
  box-shadow: 0 0 4px #303967!important;
}

.text-form-control {
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  width: 100%;
  font-family: RobotoCondensed-Regular;
}

.text-form-control:focus {
  border: 1px solid #303967!important;
  box-shadow: 0 0 4px #303967!important;
}

.cel-description ul{
   list-style-type: none;
}

.cel-description i{
  color:#fecc00;
}

.cel-description h2{
  color:#303967;
}

.cel-description span {
  color:black;
}

.front span {
  color:#303967;
}

.fb-share-btn {
  float:right;
}

.sort-col a {
  color:#303967;
}