.clbo {
  clear:both;
}

.catalog-cel-cont {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px #888;
  margin-bottom: 20px;
  font-family: "RobotoCondensed-Regular";
}

.btn-searh {
  background: #303967;
  color: #fecc00;
  padding: 7px 20px!important;
}

.btn-searh:hover {
  background: #fecc00!important;
  color: #303967!important;
  padding: 7px 20px!important;
}

.btn-searh:focus {
  background: #303967;
  color: #fecc00;
}

#phone_search input {
  border: 1px solid #303967;
  border-radius: 5px 0 0 5px;
}

#accessory_search input {
  border: 1px solid #303967;
  border-radius: 5px 0 0 5px;
}

.row-tit {
  margin-bottom:30px;
}

.row-tit h1{
  font-size: 30px;
  color: #303967;
  font-family: "RobotoCondensed-Regular";
  margin: 0;
  padding: 0;
}

.row-body {

}

.catalog-cel-cont input{
  font-family: "RobotoCondensed-LightItalic";
}

.filters-col {
  font-family: "RobotoCondensed-Regular";
  padding-left: 22px;
  padding-right: 2px;
  left: 0;
  transition: all 0.7s ease-in-out 0s;
}

.filters-col label {
  font-weight: normal;
}


.hd {
  background: #303967 none repeat scroll 0 0;
  color: #fff;
  padding: 10px 8px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: 5px;
}

.hd h4 {
  padding: 0;
  display: inline;
  margin-left: 8px;
  padding: 0;
}

.acc-panel {
  background-color: #eee;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 8px 15px 8px 10px;
  color: #303967;
}


.acc-panel h5 {
  display: inline-block;
  font-size: 16px;
  color: #18265a;
  font-family: "Roboto Condensed",sans-serif;
  margin: 0;
  padding: 0;
}


.slide-cont {
  padding:15px;
}

.phones-col {
  transition: all 0.5s ease-in-out 0s;
}

.phone-catalog{
  border: 2px solid #ddd;
  border-radius: 4px;
}

.row-header{
  color: #999;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}

.row-header .my-col-1 {
  margin: 11px 0;
}

.row-header .my-col-2 {
  margin: 11px 0;
  text-align:center;
}

.row-header .my-col-3 {
  float: right;
  margin: 9px 0;
}

.my-col-3 .pagination{
  margin:0!important;

}

.rw-ico {
  color: #303967!important;
}

.rw-ico {
  color: #cacad9;
  font-size: 19px;
  margin: 5px;
  position: relative;
  top: 3px;
}


.row-header .order-data {
  border: 0 none;
  box-shadow: none;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: auto;
  margin: 0;
  padding: 0;
  width: 116px;
}

.row-phones{
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.card {
  display: inline-block;
  height: 290px;
  margin-right: 3px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  width: 277px;
}

.name-cel {
  color: #303967;
  display: block;
  font-size: 20px;
  font-weight: 700;
  max-height: 28px;
  overflow: hidden;
}

.boxEquipo .name-cel2 {
  color: #555;
}

.datahover{
  background-color: #303967;
  min-height: 270px;
}

.datahover .hov-tit {
  color: #fff;
  font-size: 157%;
  overflow: hidden;
  padding-left: 12px;
  text-align: left;
  font-family: "RobotoCondensed-Bold";
}

.datahover .hov-tit2 {
  color: #bfdfff;
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  padding: 0 12px;
  text-align: left;
  font-family: "RobotoCondensed-LightItalic";
}

.hov-desc {
  color: #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 0 12px;
  text-align: left;
  min-height:110px;
}

.precio {
  color: #555;
  color: #ededed !important;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid #fecc00;
  padding: 12px;
  min-height: 53px;
}

.cons-price {
  color: #fecc00!important;
  text-decoration:none;
}
.cons-price:hover {
  text-decoration:underline!important;
}

.items {
  background: #303967 none repeat scroll 0 0;
  border-top: 1px solid #fecc00;
  min-height: 51px;
  font-family: "RobotoCondensed-Regular";

}
.items-block-left {
  width:50%;
  height:50px;
  float:left;
  padding-top: 11px;
  background: #fecc00 none repeat scroll 0 0;
  color:  #303967;
}

.items-block-right {
  width:50%;
  float:left;
  height:50px;
  border-left: 1px solid #fecc00;
  padding-top: 11px;
}

.items-block-left .items-icons {
  color: #303967 !important;
  float: left;
  margin-left:12px;
}
.items-block-right .items-icons {
  color: #fecc00 !important;
  float: left;
  margin-left:12px;
}

.items-links {
  margin-top:4px;
}

.items-block-left .items-links p {
  color: #303967 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.items-block-right .items-links p {
  color: #fecc00 !important;
  text-transform: uppercase;
  font-weight: bold;
}

.items-block-right:hover {
  color: #fecc00 !important;
  text-decoration: underline!important;
}
.items-block-left:hover {
  color: #303967 !important;
  text-decoration: underline!important;
}

.i-want {
  color: yellow !important;
  margin-right: 23px;
  margin-top: 9px;
}

.i-want a {
  color: #fecc00!important;
}

.phone-container {
   font-family: "RobotoCondensed-Regular";
}

.boxEquipo {
  border: 1px solid #f3ae00;
  display: inline-block;
  margin: 0;
  text-align: left;
  transition: background 0.4s ease-out 0s;
  width: 100%;
  padding: 15px;
  margin: 0 0 11px;
}

.boxEquipo .boxImg {
  background-color: #fff;
  border: 1px solid #ddd;
  float: left;
  height: 90px;
  margin-left: 14px;
  margin-right: 18px;
  text-align: center;
  width: 90px;
  overflow: hidden;
  position: relative;
}

.boxEquipo img {
  height: 72px;
  left: -6%;
  margin-top: 8px;
}

.boxEquipo .boxCont {
  float: left;
  width: 500px;
}

.boxEquipo .boxCont a {
  max-height: none;
}

.boxEquipo h4 {
  color: #303967;
  margin-bottom: 3px;
}

.boxEquipo .desc {
  color: #555;
  display: block;
  float: left;
  font-size: 14px;
  height: 40px;
  margin: 4px 0 5px;
  overflow: hidden;
  text-align: left;
}

.boxEquipo .boxPrecio {
  float: right;
  padding-right: 10px;
  text-align: right;
  width: 180px;
  color: #444;

}

.boxEquipo .desde {
  display: block;
  font-size: 11px;
  line-height: 14px;
  color: #555
}

.boxEquipo .price-acce {
  display: block;
  font-size: 24px;
  line-height: 20px;
  text-align: right;
  margin-top: 6px;
  margin-bottom: 9px;
}

.boxEquipo .price-acce small {
  color: #777;
  font-size: 18px;
  font-weight: 400;
}

.btn-more-details {
  background: #ffec64 linear-gradient(to bottom, #ffec64 5%, #ffab23 100%) repeat scroll 0 0;
  border: 1px solid #ffaa22;
  border-radius: 6px;
  box-shadow: 0 1px 0 0 #fff6af;
  color: #303967;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffee66;
}

.btn-more-details:hover {
  text-decoration: underline;
}

.long-input {
  width:45%;
}


.plan-det-tit {
  margin-bottom: 65px;
}

.plan-det-tit h2{
  width: 178px;
  color: #303967;
  display: inline;
}

.plan-det-tit .btn-group{
  float: right;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 20px 0 0 20px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 0 20px 20px 0;
}

.btn-coso {
  background-color: #fff;
  border-color: #d2cccc;
  color: #303967;
}

.btn-coso:hover {
  text-decoration:underline!important;
  background-color: #fff!important;
  color: #303967!important;
}

.btn-coso-active {
  text-decoration:underline!important;
  background-color: #fff!important;
  color: #000000!important;
}

#plan_acordion {
  list-style: none;
}

.plan-list h4 {
  color: #999;
  font-size: 22px;
  margin-bottom: 3px;
}

.panelPlan {
  background-color: #e1ebf2;
  border: 1px solid #c7e1fc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.panelPlan:hover {
  border: 1px solid #303967;
  cursor:pointer;
}

.panelPlan a {
  width: 100%;
}

.panelplan-head {
  padding: 15px;
  color: #303967;
}

.link-plan i{
  color: #fecc00;
  float: left;
  margin-left: 15px;
  margin-right: 13px;
  margin-top: 13px;
  width: 20px;
}

.selec-cont-plans {
  float: left;
  margin-top: -4px;
}

.panelPlan select{
  color: #303967;
  margin-left: 44px;
  margin-top: 19px;
  position: absolute;
}

.selec-cont-plans p {
  color: #303967;
  margin-left: 44px;
  margin-top: 23px;
  position: absolute;
}

.panelplan-head p {
  margin-top: 6px;
}

.panel-heading {
  height: 60px;
}

.panelPlan .panelplan-head span.price {
  color: #303967;
  font-size: 20px;
  line-height: 30px;
  float: left;
}

.panelPlan .panelplan-head span.price small {
  color: #525252;
  font-size: 15px;
  margin: 0;
}

.plan-details-acc {
  background: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
}

.plan-details-acc-row {
  display: table;
  content: " ";
  clear: both;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 6px;
}
.description-det p {
  color: #303967;
  margin-bottom: 20px;
  margin-top: 20px;
}


.plan-info-item {
  border-bottom: 1px solid #ccc;
  color: #303967;
  font-size: 20px;
  line-height: 18px;
  overflow: auto;
  padding: 20px 0;
  text-align: left;
}
.plan-info-item i {
  color: #fecc00;
  float: left;
  width: 30px;
}
.contDer {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  width: 70%;
}
.contDer ul li::before {
  color: #fecc00;
  content: "o";
  padding-right: 6px;
}
.contDer ul {
  list-style:none;
}

.plan-info-item small {
  float: left;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  max-width: 76%;
}

#specs-list table {
  border-top: 1px solid #e3e3e3;
  width: 100%;
  margin-bottom: 0;
}

#specs-list th {
  background: #f6f6f6 none repeat scroll 0 0;
  text-transform: uppercase;
  width: 141px;
}
#specs-list th, #specs-list td {
  font: 16px "RobotoCondensed-Regular";
  padding: 2px 10px;
  vertical-align: top;
}

#specs-list td.ttl {
  width: 189px;
  color: #303967;
}
#specs-list td {
  border-bottom: 1px solid #f0f0f0;
}

#specs-list tr:last-child td {
  border-bottom: medium none;
}

#specs-list p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.col-md-custom {
  width: 29%;
  float: left;
  text-align: center;
}

.sel-comp-phone{
  text-align: left!important;
}

.row-comp-select {
    margin-bottom: 8px;
}

.col-md-comp-titles{
  width: 21%;
  float:left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

#specs-list-comp  table {
  border-top: 1px solid #e3e3e3;
  width: 100%;
  margin-bottom: 0;
  border-collapse:unset;
}

#specs-list-comp td.grp {
  background: #f6f6f6 none repeat scroll 0 0;
  text-transform: uppercase;
  width: 55%;
  font: 16px "RobotoCondensed-Regular";
  padding: 2px 0 0 7px;
  vertical-align: top;
}

#specs-list-comp td.ttl {
  font: 16px "RobotoCondensed-Regular";
  padding: 2px 0 0 7px;
  vertical-align: top;
  width: 45%;
  color: #303967;
  border-bottom: 1px solid #f0f0f0;
  text-align:right;
}

#specs-list-comp tr:last-child td {
  border-bottom: medium none;
}

#specs-list-comp td.nfo {
  border-bottom: 1px solid #f0f0f0;
  color: black;
  font: 16px "RobotoCondensed-Regular";
  height: 22px;
  padding: 2px 7px 0 0;
  vertical-align: top;
  text-align:right;
  border-right: 1px solid #303967;
}

#specs-list-comp-right  table {
  border-top: 1px solid #e3e3e3;
  width: 100%;
  margin-bottom: 0;
  border-collapse:unset;
}

#specs-list-comp-right td.grp {
  background: #f6f6f6 none repeat scroll 0 0;
  text-transform: uppercase;
  width: 55%;
  font: 16px "RobotoCondensed-Regular";
  padding: 2px 7px 0 0;
  vertical-align: top;
  text-align:right;
}

#specs-list-comp-right td.ttl {
  font: 16px "RobotoCondensed-Regular";
  padding: 2px 7px 0 0;
  vertical-align: top;
  width: 45%;
  color: #303967;
  border-bottom: 1px solid #f0f0f0;
  text-align:left;
}

#specs-list-comp-right tr:last-child td {
  border-bottom: medium none;
}

#specs-list-comp-right td.nfo {
  border-bottom: 1px solid #f0f0f0;
  color: black;
  font: 16px "RobotoCondensed-Regular";
  height: 22px;
  padding: 2px 0 0 7px;
  vertical-align: top;
  text-align:left;
  border-left: 1px solid #303967;
}

.cel-img-comp {
  margin-bottom: 20px;
  margin-top: 20px;
}

.row-foot-center {
  margin-top: 20px;
  text-align:center;
}
