.clbo {
  clear:both;
}

.catalog-cel-cont {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px #888;
  margin-bottom: 20px;
  font-family: "RobotoCondensed-Regular";
}

.btn-searh {
  background: #303967;
  color: #fecc00;
}

.row-tit {
  margin-bottom:16px;
}

.row-tit h1{
  font-size: 30px;
  color: #303967;
  font-family: "RobotoCondensed-Regular";
  margin: 0;
  padding: 0;
}

.row-body {

}

.catalog-cel-cont input{
  font-family: "RobotoCondensed-LightItalic";
}

.filters-col {
  font-family: "RobotoCondensed-Regular";
  padding-left: 22px;
  padding-right: 2px;
  left: 0;
  transition: all 0.7s ease-in-out 0s;
}

.filters-col label {
  font-weight: normal;
}


.hd {
  background: #303967 none repeat scroll 0 0;
  color: #fff;
  padding: 10px 8px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  margin-bottom: 5px;
}

.hd h4 {
  padding: 0;
  display: inline;
  margin-left: 8px;
  padding: 0;
}

.acc-panel {
  background-color: #eee;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 8px 15px 8px 10px;
  color: #303967;
}


.acc-panel h5 {
  display: inline-block;
  font-size: 16px;
  color: #18265a;
  font-family: "Roboto Condensed",sans-serif;
  margin: 0;
  padding: 0;
}


.slide-cont {
  padding:15px;
}

.phones-col {
  transition: all 0.5s ease-in-out 0s;
}

.phone-catalog{
  border: 2px solid #ddd;
  border-radius: 4px;
}

.row-header{
  color: #999;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}

.row-header .my-col-1 {
  margin: 11px 0;
}

.row-header .my-col-2 {
  margin: 6px 0;
}

.rw-ico {
  color: #303967!important;
}

.rw-ico {
  color: #cacad9;
  font-size: 19px;
  margin: 5px;
  position: relative;
  top: 3px;
}

.row-header .my-col-3 {
  margin: 11px 0;
  text-align: right;
}

.row-header .order-data {
  border: 0 none;
  box-shadow: none;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: auto;
  margin: 0;
  padding: 0;
  width: 116px;
}

.row-phones{
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.card {
  display: inline-block;
  height: 290px;
  margin-right: 3px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  width: 277px;
  cursor: pointer;
}

.name-cel {
  color: #303967;
  display: block;
  font-size: 20px;
  font-weight: 700;
  max-height: 28px;
  overflow: hidden;
}

.boxEquipo .name-cel2 {
  color: #555;
}

.datahover{
  background-color: #303967;
}

.datahover .hov-tit {
  color: #fff;
  font-size: 157%;
  max-height: 54px;
  overflow: hidden;
  padding-left: 12px;
  text-align: left;
  font-family: "RobotoCondensed-Bold";
}

.datahover .hov-tit2 {
  color: #bfdfff;
  display: block;
  font-size: 12px;
  margin-bottom: 17px;
  padding-left: 12px;
  text-align: left;
  font-family: "RobotoCondensed-LightItalic";
}

.hov-desc {
  color: #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 40px;
  text-align: left;
}

.precio {
  color: #555;
  color: #ededed !important;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid #fecc00;
  padding: 8px;
}

.items {
  background: #303967 none repeat scroll 0 0;
  border-top: 1px solid #fecc00;
  height: 45px;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
}

.more-details {
  color: #fecc00;
  margin-left: 18px;
  margin-top: 9px;
}

.more-details a {
  color: #fecc00!important;
}

.i-want {
  color: yellow !important;
  margin-right: 23px;
  margin-top: 9px;
}

.i-want a {
  color: #fecc00!important;
}


.phone-container {
   font-family: "RobotoCondensed-Regular";
}